.section-procurar-pokemon{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 300px;
    margin-top: 50px;
}

.section-procurar-pokemon > nav {
    display: flex;

    width: 100%;
    gap: 10px;
}

.section-procurar-pokemon > nav > input {
    width: 80%;
    padding: 15px 24px;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3rem;

    background-color: var(--background-color-fundo-inp-li);
    border: none;
    border-radius: var(--border-radius);

    color: var(--color-title-2);
}

.button-pesquisar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color-btn);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;

    width: 72px;
    height: 52px;
}