.section-lista-pokemons{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 50px;
}

.title-1{
    font-size: var(--font-size-title-1);
    font-weight: var(--font-weight);
    line-height: var(--line-height-title-1);

    color: var(--color-title-1);
    background-color: var(--background-color-fundo);
    border: none;
    cursor: pointer;

    margin: 0 auto;
}

.conteiner-pokemons{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 50px;
    gap: 25px;
}

.lista-pokemon{
    display: flex;
    align-items: center;

    max-width: 100%;
    padding: 15px 24px;
    gap: 50px;

    background-color: var(--background-color-fundo-inp-li);
    border: none;
    border-radius: var(--border-radius);
}

.img-pokemon{
    width: 60px;
    height: 60px;
}

.nome-pokemon{
    font-size: var(--font-size-title-2);
    font-weight: var(--font-weight);
    line-height: var(--line-height-title-2);

    color: var(--color-title-2);
}
